*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
        
:root{
    --red: #9a0000;
    --beige: #f4f3e0;
    --white: #fff;
    --blue: #2f2d4d;
}

body{
    background-color: var(--white);
    color: var(--blue);
    line-height: 1;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: var(--beige);
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 10px rgba(88, 88, 94, 0.2);
    z-index: 10;
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--red);
}

nav a{
    padding-left: 40px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--blue);
    transition: color 0.25s, font-size 1s ease;
}

nav a:hover{
    color: var(--red);
    font-size: 1.1rem;
}

.cta-button{
    background-color: var(--red);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}



.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
    background-color: var(--beige);
}

.text{
    text-align: left;
}

.text h1{
    font-size: 4rem;
    font-weight: bolder;
    color: var(--red);
    width: 90%;
    margin-bottom: 30px;
}

.text p {
    font-size: 1.5rem;
    color: var(--blue);
    width: 80%;
    margin-bottom: 20px;
}

.big-button {
    background-color: var(--red);
    color: var(--white);
    padding: 16px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.5s, scale 0.5s ease;
}

.big-button:hover{
    background-color: #c90505;
    scale: 102%;
}

.head img{
    width: 35%;
    height: auto;
}



section:not(.head){
    padding: 60px 10%;
    line-height: 1.5;
}

#tentang h2,#harga h2,#review h2,#call-to-action h2{
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.tentang {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.tentang h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.tentang ul{
    list-style-type: none;
    /* display: flex;
    gap: 20px; */
}

.switch-button{
    text-align: center;
    margin-top: 20px;
}
.switch{
    background-color: var(--white);
    color: var(--blue);
    font-size: 1rem;
    padding: 10px;
    width: 20%;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow 0.5s;
}
.switch:hover{
    box-shadow: 0px 4px 10px rgba(154, 0, 0, 0.5);
}



.dark-bg {
    background-color: var(--red);
    color: var(--white);
}

#metode{
    display: flex;
    align-items: center;        
    justify-content: space-between;              
    padding: 60px 10%;
}
.text2{
    width: 50%;
    display: flex;
    text-align: right;
}
.text2 h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}
.cards{
    width: 50%;
    display: flex;
    justify-content: center;
}
.card-1{
    width: 60%;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
}
.bio{
    background-color: var(--white);
    color: var(--blue);
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
}
.bio p{
    margin-bottom: 5px;
}
.small-button{
    background-color: var(--red);
    color: var(--white);
    margin-top: 10px;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.5s, scale 0.5s ease;
}
.small-button:hover{
    background-color: #c90505;
    scale: 102%;
}
.card-1 img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0px 0px;
}


#harga{
    border-bottom: 1px solid rgba(47, 45, 77, 0.25);
}
.pricing-table {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid var(--red);
}

.pricing-table th, 
.pricing-table td {
    padding: 15px;
    text-align: left;
    width: 50%;
}
.pricing-table td{
    border: 1px solid rgba(47, 45, 77, 0.25);
}

.pricing-table th {
    background-color: var(--red);
    color: var(--white);
}
.harga p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--red);
    margin-top: 20px;
}



#review{
    margin-bottom: 60px;
}
.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.review-card {
    background-color: white;
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}
.review-card:hover{
    transform: translateY(-5px) ;
}
.review-card h3{
    color: var(--red);
    font-size: 1.1rem;
}
.review-card p{
    color: var(--blue);
    margin-bottom: 20px;
}



#tutorial{
    margin-bottom: 60px;
}
.tutors{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;    
}
.tutor{
    position: relative;
    transition: scale 1s;
}
.tutor:hover{
    scale: 108%;
}
.tutor-icon{
    background-color: var(--beige);
    border: none;
    border-radius: 100px;
    font-size: 2rem;
    color: var(--red);
    text-align: center;
    width: 22%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tutor-box{
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(88, 88, 94, 0.2);
    width: 90%;
    margin: auto;
}
.tutor img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0px 0px;
}
.text-tutor{
    height: 150px;
    text-align: center;
    padding: 20px;
}
.text-tutor h3{
    color: var(--red);
}
.text-tutor p{
    color: var(--blue);
}
.text-tutor h3{
    margin-bottom: 10px;
}



#call-to-action{
    background-color: var(--beige);
    padding-bottom: 100px;
}
#call-to-action h2{
    color: var(--red);
}



#kontak{
    background-color: var(--red);
    color: var(--white);
    line-height: 1.5;
}
.kontak-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding-top: 30px;
    padding-bottom: 80px;
}

.kontak-grid h3{
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.kontak-grid a{
    color: var(--white);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

footer{
    background-color: var(--red);
    padding: 20px 122px;
    color: var(--white);
    font-weight: bold;
    /* border-top: 2px solid var(--white); */
}



@media (max-width: 768px) {
    .grid-2, 
    .testimonials,
    .footer-grid {
        grid-template-columns: 1fr;
    }
    
    header {
        flex-direction: column;
        padding: 15px;
    }
    
    nav {
        margin-top: 15px;
    }
}